In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv(r'C:\Users\ADMIN\PycharmProjects\THESIS_DSEB62-Product_review_analysis\Data\Product_review_unlabel.csv')

In [11]:
df.shape

(500895, 7)

In [12]:
df.head()

,itemid,shopid,username,rating,time,source,comment
0,149456305,23469575157,lynguyen030585,5,1692601818,Shopee,Chất lượng sản phẩm:tamj oonr\n\nTúi to . Đựng...
1,149456305,23469575157,yumishoploan,5,1695100282,Shopee,"Ko có ngon bổ rẻ ,mà chỉ có hợp lý các bác nhé..."
2,149456305,23469575157,5*****7,4,1692351022,Shopee,"Chất lượng sản phẩm:sản phẩm giống quảng cáo, ..."
3,149456305,23469575157,grey.nguyen,5,1692684394,Shopee,Chất lượng sản phẩm:san pham chat luong tot\n\...
4,607816557,14297501887,t*****6,1,1691942775,Shopee,Bấm hết nút và thử đủ hết các chế độ rồi máy c...

In [13]:
df.drop(['itemid', 'shopid', 'username', 'time', 'source'], axis= 1, inplace= True)

In [14]:
df.shape

(500895, 2)

In [40]:
df.duplicated().sum()

86560

In [41]:
df.drop_duplicates(inplace= True)

In [43]:
df.shape

(414335, 3)

In [99]:
df.groupby('rating')['comment'].count() / len(df) * 100

rating
1     4.814051
2     2.183550
3     3.779455
4     6.163926
5    83.059018
Name: comment, dtype: float64

In [75]:
df['len_comment'] = df['comment'].apply(len)

In [76]:
len_comment = df.groupby('len_comment')['comment'].count().reset_index()
len_comment

      len_comment  comment
0               1       90
1               2      223
2               3      338
3               4      374
4               5      446
...           ...      ...
1438         5949        1
1439         5953        1
1440         6020        1
1441         6148        1
1442         6193        1

[1443 rows x 2 columns]

In [77]:
df[df['len_comment'] == 6193]

        rating                                            comment  len_comment
334244       5  Lịch sử mua hàng\nTổng đài 1800.1060 (7:30 - 2...         6193

Sẽ loại bớt những comment quá dài hay quá ngắn

In [94]:
df = df[(df['len_comment'] >= 5) & (df['len_comment'] <= 400)]

In [101]:
df.groupby('rating')['comment'].count()

rating
1     19743
2      8955
3     15500
4     25279
5    340635
Name: comment, dtype: int64

In [110]:
df_1 = df[df['rating'] == 5].sample(30523)
df_2 = df[~(df['rating'] == 5)]

In [111]:
final_df = pd.concat([df_1, df_2])

In [114]:
final_df.drop('len_comment', axis= 1, inplace= True)

In [115]:
final_df.to_csv('Prepare_for_label.csv',index= False)

In [ ]:
import xlsxwriter
final_df.to_excel("Prepare_for_label.xlsx", engine='xlsxwriter', index= False)